
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$phone-primary-font: 0.6rem;
$phone-secondary-font:1rem;
 
$primary-color: #2947A9;
$secondary-color: #292E3D;
$primary-font-family: "work-sans", sans-serif;
