@use './variables/variable.scss' as variable;
@use './mixins/mixin.scss' as mixin;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: variable.$primary-font-family;
}

body {
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: #001aff17;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-logo {
        display: flex;
        align-items: center;
        padding: 0.2rem;

        #italics-heading {
            color: variable.$primary-color;
            font-weight: 700;
            font-style: italic;
        }

        #heading {
            color: variable.$primary-color;
            font-weight: 700;
        }

        img {
            height: 1.4rem;
        }
    }


    img {
        height: 1.5rem;
    }

    ul {
        display: none;

        li {
            list-style: none;
            padding: 0.5rem;
            font-size: 2rem;
        }

        #contact-us {
            color: orange;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: variable.$phone-primary-font;
        }
    }

    img:focus+ul {
        display: inline;
        position: absolute;
        background-color: #001aff17;
        width: 30%;
        left: 70%;
        top: 5%;

        li {
            border-bottom: 1px solid gray;
            padding: 3px;
            text-align: center;
        }
    }
}

.header-image-container {
    height: 30%;
    background-image: url('../../assets/images/building.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    font-family: variable.$primary-font-family;

    h2 {
        width: 30%;
        color: rgb(40, 38, 38);
    }

    .feature-box-lg {
        display: none;
        color: white;
        background-color: variable.$primary-color;
        font-size: variable.$phone-primary-font;
        text-align: center;
        align-self: flex-end;
        margin-right: 2rem;
        font-size: 0.8rem;

        .feature-content {
            padding: 0.5rem;

            h4 {
                margin-bottom: 0.5rem;
            }

            p {
                font-weight: 100;
            }
        }

        .feature-btn {
            display: flex;
            justify-content: space-around;
            background-color: variable.$secondary-color;
            height: 1.2rem;
        }
    }
}

.feature-box-sm {
    width: 100%;
    color: white;
    background-color: variable.$primary-color;
    font-size: variable.$phone-primary-font;
    font-size: 1rem;
    text-align: center;

    .feature-content {
        padding: 0.5rem;

        h4 {
            margin-bottom: 0.5rem;
        }

        p {
            font-weight: 100;
        }
    }

    .feature-btn {
        display: flex;
        height: 1.2rem;
        justify-content: space-around;
        background-color: variable.$secondary-color;
    }
}

.reputation-container {
    h3 {
        text-align: center;
        font-size: 1.2rem;
        padding: 5% 0 0 5%;
    }

    .reputation-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 5%;

        .reputation-box {
            width: 15rem;
            border: 1px solid rgba(128, 128, 128, 0.554);
            border-radius: 2px;
            padding: 2%;
            color: gray;
            margin: 0.5rem;

            img {
                height: 10%;
                padding-bottom: 5%;
            }

            h4 {
                color: rgba(0, 0, 0, 0.777);
                padding-bottom: 0.5rem;
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}


.man-img-container {
    padding: 3rem;

    .about-us-card {
        margin: 2rem;
        background-color: variable.$primary-color;
        color: white;
        font-size: 15px;
        padding: 1rem;
        font-weight: 100;


        button {
            background-color: white;
            font-size: 6x;
            color: variable.$primary-color;
            border: none;
            border-radius: 1px;
            margin-top: 1.2rem;
            padding: 0.2rem;
            font-weight: 800;
        }
    }
}

.services {
    background-color: #F6F8F7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 1.5rem;
    padding: 1.5rem;

    .service-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        height: 10rem;
        justify-content: center;
        width: 80%;

        h3 {
            font-size: 20px;
            padding-top: 1rem;
        }

        img {
            height: 2.5rem;
            padding: 0.5rem;
            border-bottom: 1px solid grey;
        }
    }

    .service-box-blue {
        background-color: variable.$primary-color;
        color: white;

        img {
            border-bottom: 1px solid white;
        }
    }
}

.company-detail-container {
    height: 45rem;
    padding: 2rem;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    .accomplishment-container {
        height: 25rem;
        position: relative;

        .accomplishment-box {
            position: absolute;
            padding: 1.5rem 1rem 1rem 1rem;
            width: 60%;
            height: 6rem;
            box-shadow: 2px 2px 6px grey;
            border-radius: 4px;
            background-color: white;

            img {
                position: absolute;
                height: 48px;
            }

            h2 {
                font-size: 32px;
                font-weight: 600;
            }

            p {
                color: rgb(88, 83, 83);
                padding: 6px;
                font-size: 12px;
                border-left: 4px solid orange;
            }
        }

        .client {
            left: 30%;
            z-index: 20;

            img {
                bottom: 75%;
                left: 80%;
            }
        }

        .project {
            top: 5rem;
            z-index: 15;

            img {
                bottom: 80%;
                left: 5%;
            }
        }

        .awards {
            left: 30%;
            top: 10rem;
            z-index: 12;

            img {
                bottom: 75%;
                left: 80%;
            }
        }

        .years {
            top: 15rem;

            img {
                bottom: -10%;
                left: 82%;
            }
        }
    }

    .experience-container {
        h2 {
            color: variable.$primary-color;
            font-size: 30px;
        }

        p {
            padding: 1.5rem 0 0.5rem 0;
            font-size: 16px;
            color: rgb(75, 71, 71);
            font-weight: 100;
        }

        button {
            background-color: variable.$primary-color;
            padding: 0.8rem;
            color: white;
            border: none;
            border-radius: 2px;
            margin: 2rem 0 0 0;
            width: 50%;
        }
    }
}

.consultation-container {
    height: 10rem;
    background-image: url('/src/assets/images/consultation.png');
    backdrop-filter: brightness(0.6);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .consultation-container-left {}

    .consultation-content-right {
        button {
            background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 0.5rem;
        }
    }
}

.project-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    .project-container-left{
        color: #C2C7D6;
        font-size: 20px;
        ul{
            padding: 2rem;
            list-style: none;
            li{
                padding-left: 0.5rem;
            }
        }
        .active{
            color: variable.$primary-color;
            border-left: 3px solid variable.$primary-color;
        }
    }

    .project-container-right{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 1rem;
        .project-box{
            // margin: 2rem;
            img{
                width: 80%;
            }
            .project-content{
                width: 80%;
                background-color: variable.$primary-color;
                color: white;
                padding: 0.8rem;
                h2{
                    font-weight: 600;
                    font-size: 16px;
                    padding-bottom: 8px;
                }
            }
        }

    }
    .prev-next-container{
        display: flex;
        justify-content: space-evenly;
        .prev-btn{
            background-color: #292E3D;
        }
        ul{
            display: flex;
            justify-content: center;
        }
        .next-btn{
            background-attachment: #292E3D;
        }
    }
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: #F6F8F7;
}

.form-row {
    display: flex;
    gap: 10px;
    width: 95%;

    input {
        width: 50%;
        border-radius: 3px;
        border: 1px solid gray;
        padding: 5px;
    }
}




.form-submit [name="message"] {
    width: 90%;
    height: 135px;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;

    button {
        width: 200px;
        height: 50px;
        padding: 16px 20px 16px 20px;
        background-color: #2947A9;
        color: white;
        border-radius: 2px2;
        border: none;
    }
}


footer {
    .footer-container {
        padding-top: 2rem;
        display: flex;
        justify-content: space-evenly;

        .footer-right form {
            display: flex;
            gap: 5px;

            form button {
                padding: 3px 5px 3px 5px;
                background-color: #F9995d;
                color: white;
                border-radius: 2px;
                border: none;
                height: 40px;
            }

            form input {
                padding: 3px 5px 3px 5px;
            }
        }
    }

    .footer-bottom {
        background-color: #2947A9;
    }

}



@media screen and (min-width: 540px) {
    nav {
        ul {
            display: flex;

            li {
                font-size: 1.5rem; //size of list items not increasing.
            }
        }

        #nav-menu {
            display: none;
        }

        .brand-logo {
            font-size: 1.5rem;
        }
    }

    .header-image-container {
        h2 {
            font-size: 2.5rem;
        }

        .feature-box-lg {
            display: inline-block;

            p {
                padding: 1rem;
            }
        }
    }

    .feature-box-sm {
        display: none;
    }

    .reputation-container {
        h3 {
            margin-bottom: 2rem;
            font-size: 20px;
        }

        .reputation-content {
            flex-direction: row;
            justify-content: space-evenly;

            // align-items: center;
            .reputation-box {
                width: 25%;
            }
        }
    }
    .company-detail-container{
        .accomplishment-container{
            
            .accomplishment-box{
                height: 7rem;
                p{
                    font-size: 18px;
                }
                h2{
                    font-size: 40px;
                }
            }
        }
    }


    .services {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .man-img-outer-container {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 80%;
        height: 30rem;

        .man-img-container {
            height: 30rem;
            position: relative;

            .man-img {
                position: absolute;
                top: 5rem;
                left: 1rem;
                padding-bottom: 3rem;
                height: 24rem;
                width: 28rem;
                background-image: url('../../assets/images/man.jpg');
                background-repeat: none;
                background-size: cover;
                background-position: center center;
            }

            .about-us-card {
                position: absolute;
                height: 20rem;
                width: 20rem;
                top: 5rem;
                left: 20rem;

                p {
                    margin: 1rem;
                    margin-left: 0px;
                }
            }
        }
    }

    .company-detail-container {
        display: flex;
        justify-content: space-between;
        padding: 4rem;
        height: 30rem;

        .accomplishment-container {
            width: 80%;
        }
        .experience-container{
            width:20rem;
        }
    }

    // .project

}