@use './variables/variable.scss' as variable;
@use './mixins/mixin.scss' as mixin;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: variable.$primary-font-family;
}

nav {
    background-color: #001aff17;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-logo{
            display: flex;
            align-items: center;
            padding: 0.2rem;

            #italics-heading{
                color: variable.$primary-color;
                font-weight: 700;
                font-style: italic;
            }
            #heading{
                color: variable.$primary-color;
                font-weight: 700;
            }

            img{
                height: 1.5rem;
            }
    }

    ul {
        display: none;

        li {
            list-style: none;
            padding: 0.5rem;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: variable.$phone-primary-font;
        }
    }

    img{
        height: 1.5rem;
    }
    img:focus + ul{
        display: inline;
        position: absolute;
        background-color: #001aff17 ;
        width: 30%;
        left: 70%;
        top: 5%;
        li{
            border-bottom: 1px solid gray;
            padding: 3px;
            text-align: center;
        }
    }
}

.header-image-container {
    height: 12rem;
    background-image: url('../../assets/images/building.jpg');
    background-repeat: none;
    background-size: cover;
    // background-position: 0px -80px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: variable.$primary-font-family;

    h2 {
        width: 35%;
    }
}

.feature-container {
    width: 100%;
    color: white;
    background-color: variable.$primary-color;
    font-size: variable.$phone-primary-font;
    align-self: flex-end;
    justify-self: end;
    text-align: center;
    top: 11.4rem;
    left: 10rem;

    .feature-btn {
        display: flex;
        justify-content: space-around;
        background-color: variable.$secondary-color;
    }
}


.reputation-container {
    h3{
        text-align: center;
        font-size: variable.$phone-secondary-font;
        padding: 5% 0 0 5%;
    }
    .reputation-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 5%;

        .reputation-box {
            width: 50%;
            border: 1px solid rgba(128, 128, 128, 0.554);
            font-size: 0.5rem;
            border-radius: 2px;
            padding:2%;
            color: gray;
            margin: 0.5rem;
            img{
                height: 1.8rem;
                padding-bottom: 5%;
            }
            h4{
                color: rgba(0, 0, 0, 0.777);
                padding-bottom: 0.5rem;
            }
        }
    }
}


.man-img-container{
    position: relative;
    height: 15rem;
    .man-img{
        position: absolute;
        top: 2rem;
        left: 1rem;
        padding-bottom: 3rem;
        height: 10rem;
        width: 14rem;
        background-image: url('../../assets/images/man.jpg');
        background-repeat: none;
        background-size: cover;
        background-position: center center;
    }

    .about-us-card{
        height: 8rem;
        width: 9rem;
        position: absolute;
        top: 3rem;
        left: 10rem;
        background-color: variable.$primary-color;
        color: white;
        font-size: 7px;
        padding: 0.7rem;
        font-weight: 100;

        button{
            background-color: white;
            font-size: 6px;
            color: variable.$primary-color;
            border: none;
            border-radius: 1px;
            margin-top: 1.2rem;
            padding: 0.2rem;
            font-weight: 800;
        }
    }
}

.services{
    background-color: #F6F8F7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .service-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        height: 6rem; 
        width: 6rem;
        margin: 1rem;

        h3{
            font-size: 9px;
            padding-top: 1rem;
        }
        
        img{
            height: 2.5rem;
            padding: 0.5rem;
            border-bottom: 1px solid grey;
        }
    }
    
    .service-box-blue{
        background-color: variable.$primary-color;
        color: white;
        img{
            border-bottom: 1px solid white;
        }
    }
}

.company-detail-container{
    .accomplishment-container{
        position: relative;
        .accomplishment-box{
            position: absolute;
            padding: 1rem;
            width: 60%;
            box-shadow: 2px 2px 6px grey;
            border-radius: 4px;
            background-color: white;
            img{
                // position: absolute;
                height: 2.5rem;
            }
        }

        .client{
            left: 30%;
            z-index: 20;
        }
        .project{
            top:5rem;
            z-index: 15;
        }
        .awards{
            left: 30%;
            top: 10rem;
            z-index: 12;
        }
        .years{
            top: 15rem;
        }

    }

    .experience-container{
        button{

        }
    }
}



// @media screen (min-width: ) {
    
// }