@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "work-sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: rgba(0, 26, 255, 0.0901960784);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .brand-logo {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}
nav .brand-logo #italics-heading {
  color: #2947A9;
  font-weight: 700;
  font-style: italic;
}
nav .brand-logo #heading {
  color: #2947A9;
  font-weight: 700;
}
nav .brand-logo img {
  height: 1.4rem;
}
nav img {
  height: 1.5rem;
}
nav ul {
  display: none;
}
nav ul li {
  list-style: none;
  padding: 0.5rem;
  font-size: 2rem;
}
nav ul #contact-us {
  color: orange;
}
nav ul a {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
}
nav img:focus + ul {
  display: inline;
  position: absolute;
  background-color: rgba(0, 26, 255, 0.0901960784);
  width: 30%;
  left: 70%;
  top: 5%;
}
nav img:focus + ul li {
  border-bottom: 1px solid gray;
  padding: 3px;
  text-align: center;
}

.header-image-container {
  height: 30%;
  background-image: url("../../assets/images/building.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  font-family: "work-sans", sans-serif;
}
.header-image-container h2 {
  width: 30%;
  color: rgb(40, 38, 38);
}
.header-image-container .feature-box-lg {
  display: none;
  color: white;
  background-color: #2947A9;
  font-size: 0.6rem;
  text-align: center;
  align-self: flex-end;
  margin-right: 2rem;
  font-size: 0.8rem;
}
.header-image-container .feature-box-lg .feature-content {
  padding: 0.5rem;
}
.header-image-container .feature-box-lg .feature-content h4 {
  margin-bottom: 0.5rem;
}
.header-image-container .feature-box-lg .feature-content p {
  font-weight: 100;
}
.header-image-container .feature-box-lg .feature-btn {
  display: flex;
  justify-content: space-around;
  background-color: #292E3D;
  height: 1.2rem;
}

.feature-box-sm {
  width: 100%;
  color: white;
  background-color: #2947A9;
  font-size: 0.6rem;
  font-size: 1rem;
  text-align: center;
}
.feature-box-sm .feature-content {
  padding: 0.5rem;
}
.feature-box-sm .feature-content h4 {
  margin-bottom: 0.5rem;
}
.feature-box-sm .feature-content p {
  font-weight: 100;
}
.feature-box-sm .feature-btn {
  display: flex;
  height: 1.2rem;
  justify-content: space-around;
  background-color: #292E3D;
}

.reputation-container h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 5% 0 0 5%;
}
.reputation-container .reputation-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}
.reputation-container .reputation-content .reputation-box {
  width: 15rem;
  border: 1px solid rgba(128, 128, 128, 0.554);
  border-radius: 2px;
  padding: 2%;
  color: gray;
  margin: 0.5rem;
}
.reputation-container .reputation-content .reputation-box img {
  height: 10%;
  padding-bottom: 5%;
}
.reputation-container .reputation-content .reputation-box h4 {
  color: rgba(0, 0, 0, 0.777);
  padding-bottom: 0.5rem;
  font-size: 20px;
}
.reputation-container .reputation-content .reputation-box p {
  font-size: 15px;
}

.man-img-container {
  padding: 3rem;
}
.man-img-container .about-us-card {
  margin: 2rem;
  background-color: #2947A9;
  color: white;
  font-size: 15px;
  padding: 1rem;
  font-weight: 100;
}
.man-img-container .about-us-card button {
  background-color: white;
  font-size: 6x;
  color: #2947A9;
  border: none;
  border-radius: 1px;
  margin-top: 1.2rem;
  padding: 0.2rem;
  font-weight: 800;
}

.services {
  background-color: #F6F8F7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
.services .service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 10rem;
  justify-content: center;
  width: 80%;
}
.services .service-box h3 {
  font-size: 20px;
  padding-top: 1rem;
}
.services .service-box img {
  height: 2.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}
.services .service-box-blue {
  background-color: #2947A9;
  color: white;
}
.services .service-box-blue img {
  border-bottom: 1px solid white;
}

.company-detail-container {
  height: 45rem;
  padding: 2rem;
}
.company-detail-container .accomplishment-container {
  height: 25rem;
  position: relative;
}
.company-detail-container .accomplishment-container .accomplishment-box {
  position: absolute;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 60%;
  height: 6rem;
  box-shadow: 2px 2px 6px grey;
  border-radius: 4px;
  background-color: white;
}
.company-detail-container .accomplishment-container .accomplishment-box img {
  position: absolute;
  height: 48px;
}
.company-detail-container .accomplishment-container .accomplishment-box h2 {
  font-size: 32px;
  font-weight: 600;
}
.company-detail-container .accomplishment-container .accomplishment-box p {
  color: rgb(88, 83, 83);
  padding: 6px;
  font-size: 12px;
  border-left: 4px solid orange;
}
.company-detail-container .accomplishment-container .client {
  left: 30%;
  z-index: 20;
}
.company-detail-container .accomplishment-container .client img {
  bottom: 75%;
  left: 80%;
}
.company-detail-container .accomplishment-container .project {
  top: 5rem;
  z-index: 15;
}
.company-detail-container .accomplishment-container .project img {
  bottom: 80%;
  left: 5%;
}
.company-detail-container .accomplishment-container .awards {
  left: 30%;
  top: 10rem;
  z-index: 12;
}
.company-detail-container .accomplishment-container .awards img {
  bottom: 75%;
  left: 80%;
}
.company-detail-container .accomplishment-container .years {
  top: 15rem;
}
.company-detail-container .accomplishment-container .years img {
  bottom: -10%;
  left: 82%;
}
.company-detail-container .experience-container h2 {
  color: #2947A9;
  font-size: 30px;
}
.company-detail-container .experience-container p {
  padding: 1.5rem 0 0.5rem 0;
  font-size: 16px;
  color: rgb(75, 71, 71);
  font-weight: 100;
}
.company-detail-container .experience-container button {
  background-color: #2947A9;
  padding: 0.8rem;
  color: white;
  border: none;
  border-radius: 2px;
  margin: 2rem 0 0 0;
  width: 50%;
}

.consultation-container {
  height: 10rem;
  background-image: url("/src/assets/images/consultation.png");
  backdrop-filter: brightness(0.6);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.consultation-container .consultation-content-right button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project-container .project-container-left {
  color: #C2C7D6;
  font-size: 20px;
}
.project-container .project-container-left ul {
  padding: 2rem;
  list-style: none;
}
.project-container .project-container-left ul li {
  padding-left: 0.5rem;
}
.project-container .project-container-left .active {
  color: #2947A9;
  border-left: 3px solid #2947A9;
}
.project-container .project-container-right {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.project-container .project-container-right .project-box img {
  width: 80%;
}
.project-container .project-container-right .project-box .project-content {
  width: 80%;
  background-color: #2947A9;
  color: white;
  padding: 0.8rem;
}
.project-container .project-container-right .project-box .project-content h2 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}
.project-container .prev-next-container {
  display: flex;
  justify-content: space-evenly;
}
.project-container .prev-next-container .prev-btn {
  background-color: #292E3D;
}
.project-container .prev-next-container ul {
  display: flex;
  justify-content: center;
}
.project-container .prev-next-container .next-btn {
  background-attachment: #292E3D;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background-color: #F6F8F7;
}

.form-row {
  display: flex;
  gap: 10px;
  width: 95%;
}
.form-row input {
  width: 50%;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px;
}

.form-submit [name=message] {
  width: 90%;
  height: 135px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px;
}
.form-submit [name=message] button {
  width: 200px;
  height: 50px;
  padding: 16px 20px 16px 20px;
  background-color: #2947A9;
  color: white;
  border-radius: 2px2;
  border: none;
}

footer .footer-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-container .footer-right form {
  display: flex;
  gap: 5px;
}
footer .footer-container .footer-right form form button {
  padding: 3px 5px 3px 5px;
  background-color: #F9995d;
  color: white;
  border-radius: 2px;
  border: none;
  height: 40px;
}
footer .footer-container .footer-right form form input {
  padding: 3px 5px 3px 5px;
}
footer .footer-bottom {
  background-color: #2947A9;
}

@media screen and (min-width: 540px) {
  nav ul {
    display: flex;
  }
  nav ul li {
    font-size: 1.5rem;
  }
  nav #nav-menu {
    display: none;
  }
  nav .brand-logo {
    font-size: 1.5rem;
  }
  .header-image-container h2 {
    font-size: 2.5rem;
  }
  .header-image-container .feature-box-lg {
    display: inline-block;
  }
  .header-image-container .feature-box-lg p {
    padding: 1rem;
  }
  .feature-box-sm {
    display: none;
  }
  .reputation-container h3 {
    margin-bottom: 2rem;
    font-size: 20px;
  }
  .reputation-container .reputation-content {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .reputation-container .reputation-content .reputation-box {
    width: 25%;
  }
  .company-detail-container .accomplishment-container .accomplishment-box {
    height: 7rem;
  }
  .company-detail-container .accomplishment-container .accomplishment-box p {
    font-size: 18px;
  }
  .company-detail-container .accomplishment-container .accomplishment-box h2 {
    font-size: 40px;
  }
  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .man-img-outer-container {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 80%;
    height: 30rem;
  }
  .man-img-outer-container .man-img-container {
    height: 30rem;
    position: relative;
  }
  .man-img-outer-container .man-img-container .man-img {
    position: absolute;
    top: 5rem;
    left: 1rem;
    padding-bottom: 3rem;
    height: 24rem;
    width: 28rem;
    background-image: url("../../assets/images/man.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
  }
  .man-img-outer-container .man-img-container .about-us-card {
    position: absolute;
    height: 20rem;
    width: 20rem;
    top: 5rem;
    left: 20rem;
  }
  .man-img-outer-container .man-img-container .about-us-card p {
    margin: 1rem;
    margin-left: 0px;
  }
  .company-detail-container {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    height: 30rem;
  }
  .company-detail-container .accomplishment-container {
    width: 80%;
  }
  .company-detail-container .experience-container {
    width: 20rem;
  }
  .project-container {
    flex-direction: row;
  }
  .project-container .project-container-right {
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=index.css.map */
